body {
    background: url(IMG/landingBG.jpg) rgba(44, 62, 80, 0.75);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: #fff;
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
  }

/*Spacing*/
.marginTop{
  margin-top: 25px;
}

.marginBottom{
  margin-bottom: 10px;
}

.sliderInfoEle{
  display: block;
  font-size: large;
  font-weight: bold;
}

.sliderInfo{
  display: flex;
  justify-content: space-between;
}

.sizeInd{
  color: rgba(253, 203, 110,1.0);
}

/*place button*/
#placeBtn{
  display: none; /*only visible when reticle is shown*/
  position: absolute;
  bottom: 50px;
  left: calc(50% - 100px);
  width: 200px;
  font-weight: bold;
  font-size: x-large;
  height: 70px;
  color: white;
  background-color: #2ecc71;
  border-radius: 10px;
  border: none;
}

#placeBtn:disabled{
  background-color: #bdc3c7;
}

.loadingDots:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;
    }
  }

/*nav button*/
#sliderMenuBtn{
  display: none; /*only visible when reticle is shown*/
  margin: 0 auto;
  width: 100vW;
  height: 80px;
  background-color: rgba(189, 195, 199, 0.5);
  border: none;
}

/*slider nav*/
#sliderMenu{
  margin: 0;
  padding: 15px;
  display: none;
  background-color: rgba(189, 195, 199, 0.5);
  height: 35vH;
}

.arrow {
  border: solid white;
  border-width: 0 15px 15px 0;
  display: inline-block;
  padding: 15px;
  margin-bottom: 15px;
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}